.v-theme--dark a {
  color: #eee;
}

.v-theme--dark .v-snackbar__content {
  color: #fff;
}

.password-input .mdi {
  cursor: pointer;
}

.v-switch .v-label {
  white-space: unset;
}

.v-card-subtitle {
  display: block;
}

.v-breadcrumbs {
  padding: 0 !important;
}

.v-breadcrumbs .v-breadcrumbs-item {
  text-decoration: underline;
}

.v-breadcrumbs .v-breadcrumbs-item:last-child {
  text-decoration: none;
}

.v-tabs--fixed-tabs .v-slide-group__content > :first-child,
.v-tabs--centered .v-slide-group__content > :first-child {
  margin-inline-start: auto !important;
}

.v-tabs--fixed-tabs .v-slide-group__content > :last-child,
.v-tabs--centered .v-slide-group__content > :last-child {
  margin-inline-end: auto !important;
}

.v-tab {
  min-width: 60px;
}

.v-select .v-field--dirty .v-select__selection {
  margin-top: 4px;
}

.v-btn--fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.v-btn--fab.v-btn--density-default {
  height: 56px;
  width: 56px;
  z-index: 100;
}

.v-expansion-panel .v-chip.v-chip--density-default {
  min-height: calc(var(--v-chip-height) + 0px);
  height: auto;
  white-space: inherit;
}
