.v-theme--dark a {
  color: #eee;
}

.v-theme--dark .v-snackbar__content {
  color: #fff;
}

.password-input .mdi {
  cursor: pointer;
}

.v-switch .v-label {
  white-space: unset;
}

.v-card-subtitle {
  display: block;
}